.features {
  display: flex;
  width: 100%;
}

.features__heading {
  flex: 1;
  text-align: start;
  margin-right: 5rem;
}

.features__heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
}

.features__heading p {
  color: var(--color-subtext);
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  font-family: var(--font-family);
  margin-top: 2rem;
}

.features__container {
  flex: 1.5;
}

@media screen and (max-width: 990px) {
  .features {
    flex-direction: column;
  }

  .features__heading {
    margin: 0 0 2rem 0;
  }
}

@media screen and (max-width: 550px) {
  .features__heading h1 {
    font-size: 28px;
    line-height: 38px;
  }
}
