.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 4rem;
  border-radius: 1rem;
  background: var(--gradient-bar);
}

.cta__content {
  font-family: var(--font-family);
  color: black;
}

.cta__content p {
  font-size: 12px;
  line-height: 30px;
  font-weight: 500;
}

.cta__content h3 {
  font-size: 24px;
  line-height: 45px;
  font-weight: 800;
}

.cta__btn-container button {
  background: black;
  color: white;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  min-width: 150px;
}

@media screen and (max-width: 550px) {
  .cta {
    flex-direction: column;
    margin: 4rem 2rem;
  }

  .cta__content h3 {
    font-size: 18px;
    line-height: 32px;
  }

  .cta__btn-container button {
    font-size: 14px;
    line-height: 28px;
  }
}
